## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Touros,BR,86.00,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
1,5,Sao Filipe,CV,77.29,few clouds,14.8961,-24.4956,Tortuga B&B
2,6,Ladario,BR,89.60,few clouds,-19.0047,-57.6017,Hotel Fazenda 4 cantos
3,11,Vaini,TO,75.20,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,15,Olinda,BR,82.40,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Viedma")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Viedma")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Parana")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Tigre")]  
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Necochea")]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start.iloc[0,5:7].to_numpy() 
start = vacation_start.to_numpy()[0,5:7] 
end = vacation_end.to_numpy()[0,5:7] 
stop1 = vacation_stop1.to_numpy()[0,5:7] 
stop2 = vacation_stop2.to_numpy()[0,5:7]
stop3 = vacation_stop3.to_numpy()[0,5:7]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -122), zoom_level = 7)

roadtrip = gmaps.directions_layer(start, end, 
                                  waypoints=[stop1, stop2, stop3],
                                  travel_mode="DRIVING")

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,330,Viedma,AR,84.40,clear sky,-40.8135,-62.9967,Hotel Cristal
1,242,Parana,AR,84.99,broken clouds,-31.7320,-60.5238,Howard Johnson Plaza Hotel Mayorazgo
2,469,Tigre,AR,78.01,scattered clouds,-34.4260,-58.5796,Puerto Delta Apartamentos
3,515,Necochea,AR,78.01,clear sky,-38.5473,-58.7368,dyd -mar Hotel
4,330,Viedma,AR,84.40,clear sky,-40.8135,-62.9967,Hotel Cristal

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(roadtrip)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))